form {
  width: 80vw;
  margin-top: 8rem;
  @media (min-width: 768px) {
    width: 60vw;
   }
  
  .form-group {
    input {
      vertical-align: middle;
    }

    #search-input {
      text-indent: 1rem;
      font-family: 'Josefin Sans', sans-serif;
      color: #333;
      letter-spacing: .1rem;
      font-size: 1.5rem;
      width:70%;
      height: 3.5rem;
      line-height:35px;
      background:#fff;
      border: none;
      margin:0;
      border-right:none;
      font-weight:bold;
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .3rem;
      outline: none;
      @media (min-width: 768px) {
        width:80%;
       }
    }

    #search-submit {
      text-transform:uppercase;
      cursor: pointer;
      width: 30%;
      height: 3.5rem;
      line-height:27px;
      background:#222;
      border: none;
      color: #ffffff;
      letter-spacing: .1rem;
      font-size: 1.1rem;
      margin:0;
      text-align:center;
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
      @media (min-width: 768px) {
        width: 20%;
        font-size: 1.3rem;
       }
    }
  }

  .searchHeading, p {
    text-align: left;
    color: #ffffff;
    margin: .5rem 0;
  }

  .searchHeading {
    font-size: 1.8rem;
    @media (min-width: 768px) {
     font-size: 2.3rem;
     }
  }
}
